<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="w3-content w3-card">
    <% include ../partials/header %>

    <div class="w3-container">
      <h4 class="sectionHeader">Error</h4>
      <p><%= error %></p>

      <div style="padding-top:30px;text-align:center;">
        <a class="w3-btn w3-round-large w3-flat-silver" href="/">Start over</a>
      </div>
    </div>
  </body>
</html>