<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="w3-content w3-card-4">
    <% include ../partials/header %>

    <div class="w3-container">
      <p>Welcome - This is the companion site for the <a href="https://github.com/richardfrost/AdvancedProfanityFilter#advanced-profanity-filter" target="_blank">Advanced Profanity Filter</a> web browser extension. Here you can upload a file (and optionally a custom-config file exported from the web extension) and download a filtered copy.</p>

      <form action="/uploadfile" enctype="multipart/form-data" method="POST" class="w3-container w3-half w3-left w3-card-2">
        <h4 class="sectionHeader">File to Filter</h4>
        <input type="file" name="file" accept="">

        <h4 class="sectionHeader">Config File (optional)</h4>
        <input type="file" name="cfg" accept=".json">

        <label>
          <h4 class="sectionHeader">Show Summary? <input type="checkbox" class="w3-check" name="generateSummary" value="true" checked></h4>
        </label>

        <div class="w3-center" style="padding-bottom:10px">
          <input type="submit" value="Filter!" class="w3-btn w3-blue-grey">
        </div>
      </form>

      <div class="w3-container w3-half w3-right">
        <h4 class="sectionHeader">Supported File Types:</h4>
        <ul>
          <li>.ePUB (Ebook)</li>
          <li>.txt (Plain text)</li>
        </ul>
      </div>
    </div>
  </body>
</html>