<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="w3-content w3-card">
    <% include ../partials/header %>

    <div class="w3-container">
      <h4 class="sectionHeader">Summary</h4>
      <table class="w3-table w3-striped w3-border w3-bordered">
        <tr class="w3-deep-purple">
          <th>Filtered Items</th><th class="w3-right-align">Count</th>
        </tr>
        <% Object.keys(summary).sort().forEach(function(match) { %>
          <tr><td><%= summary[match].sub %></td><td class="w3-right-align"><%= summary[match].count %></td></tr>
        <% }); %>
      </table>

      <div style="padding-top:30px;text-align:center;">
        <a class="w3-btn w3-round-large w3-flat-peter-river" href="<%= downloadHref %>">Download File</a>
        <a class="w3-btn w3-round-large w3-flat-silver" href="/">Start over</a>
      </div>
    </div>
  </body>
</html>