<meta charset="utf-8">
<title>Advanced Profanity Filter Web</title>
<link rel="stylesheet" type="text/css" href="w3.css">
<link rel="stylesheet" type="text/css" href="w3-color-flat.css"/>
<link rel="stylesheet" type="text/css" href="app.css">