body
{padding-bottom:16px}
/* w3-light-grey */
a:hover
{color:#2980b9}
a.w3-btn:active, a.w3-btn:hover, a.w3-btn:link, a.w3-btn:visited
{color: #fff}
h4.sectionHeader
{color:#3498db}
#header a
{color:black;text-decoration:none;}
#header img
{margin-bottom:8px}
#main
{padding-bottom:16px}
#menu > a:hover
{color:#fff!important;background-color:#2980b9!important}
.disabled
{cursor:not-allowed!important;}
.notes
{margin-left:16px;padding-top:5px;font-size:10px;color:gray}
.small
{width:300px}